<div class="container content">
    <hr>
    <div class="row encabezado">
        <div class="col-lg-12 encabezado-titulo animated bounceInUp">
            <h1>Convocatorias de Posgrado</h1>
        </div>
    </div>
    <hr>
    <div class="row portafolio justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row galeria justify-content-center">
                <div class="contenedor-imagen col-12 col-lg-10">
                    <a href="public_html/documents/convocatoria-posgado/2024/convocatoria-2024-II.pdf" target="_blank"
                        title="Convocatorias de Posgrado">
                        <img src="public_html/img/slider_principal/posgrados.png" class="br-15 img-fluid image"
                            alt="Convocatorias de Posgrado" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 pt-4">
            <h2>Maestría</h2>
            <hr />
            <div class="row justify-content-center galeria">
                <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria-posgado/2024/instructivo-maestria-derecho-2024-II.pdf" target="_blank"
                        title="Doctorado en Arquitectura">
                        <img src="public_html/img/convocatoria-posgado/2024/derecho.png" class="br-15 img-fluid image"
                            alt="Doctorado en Arquitectura" />
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria-posgado/2024/instructivo-maestria-Pedagogia-2024-II.pdf" target="_blank"
                        title="Maestría en derecho">
                        <img src="public_html/img/convocatoria-posgado/2024/pedagogia.png" class="br-15 img-fluid image"
                            alt="Maestría en derecho" />
                    </a>
                </div>
                <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                    <a href="public_html/documents/convocatoria-posgado/2024/instructivo-maestria-politica-criminal-2024-II.pdf"
                        target="_blank" title="Maestría en Estudios Políticos y Sociales">
                        <img src="public_html/img/convocatoria-posgado/2024/politica-criminal.png"
                            class="br-15 img-fluid image" alt="Maestría en Estudios Políticos y Sociales" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <h2>Doctorado</h2>
            <hr />
            <div class="row galeria justify-content-center">
                    <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                            <a href="public_html/documents/convocatoria-posgado/2024/instructivo-doctorado-derecho-2024-II.pdf" target="_blank"
                                title="Doctorado en Arquitectura">
                                <img src="public_html/img/convocatoria-posgado/2024/derecho.png" class="br-15 img-fluid image"
                                    alt="Doctorado en Arquitectura" />
                            </a>
                        </div>
                        <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                            <a href="public_html/documents/convocatoria-posgado/2024/instructivo-doctorado-Economia-2024-II.pdf" target="_blank"
                                title="Maestría en derecho">
                                <img src="public_html/img/convocatoria-posgado/2024/economia.png" class="br-15 img-fluid image"
                                    alt="Maestría en derecho" />
                            </a>
                        </div>
                        <div class="contenedor-imagen col-5 col-lg-3 p-10 m-0 br-15">
                            <a href="public_html/documents/convocatoria-posgado/2024/instructivo-doctorado-pedagogia-2024-II.pdf"
                                target="_blank" title="Maestría en Estudios Políticos y Sociales">
                                <img src="public_html/img/convocatoria-posgado/2024/pedagogia.png"
                                    class="br-15 img-fluid image" alt="Maestría en Estudios Políticos y Sociales" />
                            </a>
                        </div>
            </div>
        </div>

    </div>
</div>