
<!-- Bolsa de Trabajo -->
<div class="container content">
    <hr>
    <div class="row pleca-secciones">
        <div class="col-lg-12 secciones">
            <i class="icono-secciones icon-bolsa-de-trabajo" style="position: relative;top: 10px;"></i> <h1 class="mw-50">Bolsa de Trabajo </h1>
             <!-- <a class="float-right boton-registro btn btn-secondary btn-sm boton-header" href="http://bolsatrabajo.aragon.unam.mx/" target="_blank" title="Portal de empleo">Portal de empleo FES Arag&oacute;n UNAM</a> -->
        </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-12 col-lg-9">
            <p>La intenci&oacute;n de la Bolsa de Trabajo de la FES Arag&oacute;n es ofrecer nuevas oportunidades de desarrollo profesional, facilitando una &oacute;ptima inserci&oacute;n laboral de la comunidad aragonesa. Esto se hace fortaleciendo la vinculaci&oacute;n de alumnos y egresados con los sectores productivo, empresarial, p&uacute;blico y social.</p>
            <p>Nos enorgullece presentar historias de &eacute;xito. Con autorizaci&oacute;n del alumno/egresado se comparte en nuestra p&aacute;gina de Facebook  Bolsa de Trabajo FES Arag&oacute;n UNAM, una fotograf&iacute;a de &eacute;l/ella en la empresa/instituci&oacute;n a donde ingres&oacute; a laborar o a realizar pr&aacute;cticas, junto con una frase que haga referencia a su experiencia del servicio brindado por nuestro departamento. ¡S&iacute;guenos y conoce estos casos!</p>
            <hr>
            <h2>Servicios para alumnos y egresados</h2>
            <ul>
                <li>Cursos/Talleres
                    <p>Durante el periodo semestral e intersemestral se imparten cursos/talleres dise&ntilde;ados al desarrollo de competencias profesionales, como lo son trabajo en equipo, comunicaci&oacute;n asertiva, liderazgo, entre otras. Los cursos se difunden a trav&eacute;s de redes sociales y por correo electr&oacute;nico a la comunidad de FES Arag&oacute;n.</p>
                    <p>Aquellos que se interesen en participar, pueden registrarse acudiendo al departamento de Bolsa de Trabajo o tiene que enviar un correo electr&oacute;nico con la siguiente informaci&oacute;n:
                    </p>
                    <ul>
                        <li>Nombre completo</li>
                        <li>Licenciatura</li>
                        <li>Situaci&oacute;n acad&eacute;mica (estudiante-semestre o egresado)</li>
                    </ul>
                    <br/>   
                </li>
                <li>Pl&aacute;tica/Reclutamiento de empresas e instituciones
                    <p>Empresas e instituciones interesadas en el perfil de estudiantes y egresados de FES Arag&oacute;n acuden a nuestras instalaciones para impartir pl&aacute;ticas sobre sus actividades o realizar reclutamiento de candidatos. </p>
                    <p>Para poder realizar su registro a la pl&aacute;tica/reclutamiento la comunidad de FES Arag&oacute;n tiene que acudir al departamento de Bolsa de Trabajo o enviar un correo electr&oacute;nico con la siguiente informaci&oacute;n:
                    </p>   
                    <ul>
                        <li>Nombre completo</li>
                        <li>Licenciatura</li>
                        <li>Situaci&oacute;n acad&eacute;mica (estudiante-semestre o egresado)</li>
                    </ul>
                </li>
            </ul>
            <hr>
            <h2>Servicios para empresas</h2>
            <ul>
                <li>Servicios para empresas
                    <p>Las empresas e instituciones que est&aacute;n interesadas en colaborar con la FES Arag&oacute;n deben realizar el llenado de un formulario en donde se solicita informaci&oacute;n sobre la empresa/instituci&oacute;n como lo es su registro en SAT, p&aacute;gina web, nombre del responsable de Recursos Humanos y datos de contacto.</p>
                </li>
                <li>Pl&aacute;tica/reclutamiento
                    <p>Las empresas e instituciones interesadas en el perfil de estudiantes y egresados de FES Arag&oacute;n pueden acudir a nuestras instalaciones para para impartir una pl&aacute;tica y/o realizar un reclutamiento de candidatos. Las interesadas pueden contactar al Departamento por tel&eacute;fono o correo electr&oacute;nico.</p>
                </li>
            </ul>
            <hr>
            <h2>ExpoFuturo Profesional</h2>
            <p >Anualmente se realiza el evento de reclutamiento ExpoFuturo Profesional, cuyo objetivo es ofrecer opciones laborales, de intercambio y emprendimiento a los alumnos y egresados para integrarlos a los sectores educativo, productivo, p&uacute;blico o social.</p>
            <p>Las empresas e instituciones participantes tienen contacto con la comunidad UNAM, en donde reciben su informaci&oacute;n y pueden realizar entrevistas filtro.</p>
            <p>Previamente al evento la empresa puede acudir a las instalaciones del plantel para impartir una pl&aacute;tica y dar a conocer la empresa, as&iacute; como su proceso de selecci&oacute;n.</p>
        </div>
        <div class="col-12 col-lg-3 seccion-informacion portafolio">
            <strong>Responsable</strong>
            <p> Lilia Trejo Su&aacute;rez </p>
            <img class="d-flex justify-content-center rounded-circle img-responsable" src="public_html/img/cise/bolsa-de-trabajo/lilia-trejo-suarez.jpg" alt="Lilia Trejo Su&aacute;rez"/>
            <strong>  Horario </strong>
            <p>De lunes a viernes de 9:30 a 13:30 h y de 16:00 a 20:00 h</p>
            <strong> Tel&eacute;fono(s)</strong>
            <p style="margin-bottom: 0px;">55 5623 0222</p> <p>Ext. 30941</p>
            <strong> Correo electr&oacute;nico</strong>
            <p class="fs-12"><a class="link-a" href="mailto:bolsadetrabajo@aragon.unam.mx" title="correo-electronico">bolsadetrabajo@aragon.unam.mx</a></p>
            <p><strong>¡&Uacute;nete a nuestro Facebook!</strong></p>
            <a target="_blank" href="https://www.facebook.com/Bolsa-de-Trabajo-FES-Arag%C3%B3n-UNAM-1678432562410584/" class="icon-facebook-official facebook-becas" title="Facebook"> </a>
            <div class="galeria">
                <a class="contenedor-imagen "target="_blank" href="#!/seccion/bolsa-de-trabajo"><img class="justify-content-center img-fluid " alt="Noticias" src="public_html/img/noticias/seccion-de-noticias.png"></a>
            </div>
        </div>
    </div>
</div> 
<!-- fin de Bolsa de Trabajo -->


